<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Order">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="order_no" property="orderNo" />
        <result column="time_h" property="timeH" />
        <result column="time_l" property="timeL" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, order_no, time_h, time_l
    </sql>

</mapper>
